html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { outline:none; }

body {
	background-color: #eeeeee;
	height: 100%;
}

html {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	height: 100%;
}

#container {
	padding: 40px 10px;
	max-width: 770px;
	margin: auto;
}

#area {
	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	grid-gap: 10px;

	padding: 30px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: #dddddd 5px 5px 20px;
}


.pane {
	min-height: 400px;
	min-width: 300px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #fcfcfc;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

#or h2 {
	text-align: center;
	line-height: 400px;
}

@media (max-width: 750px){
	#container {
		max-width: 350px;
	}

	#area {
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 1fr 4fr;
	}

	.pane {
		max-height: 150px;
		max-width: 150px;
		min-height: 200px;
		min-width: 300px;
	}

	#or h2 {
		text-align: center;
		line-height: 50px;
	}
}

h1 {
	text-align: center;
	padding-bottom: 10px;
}

#or {
	position: relative;
	min-width: 30px;
	height: 100%;
}

.image {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

#header {
	background-color: #fff;
	margin: 10px 10px 0 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	box-shadow: #dddddd 5px 5px 10px;
}

.inline {
	margin-top: 20px;
	margin-right: 5px;
	display: inline-block;
}

#rank {
	display: block;
	padding-top: 20px;
	text-align: center;
	text-decoration: underline;
	color: #000;
}

.rank {
	margin:20px auto;
	text-align:center;
	font-size:20px;
}

.info {
	text-align: center;
	font-size: 18px;
	margin-top: 2px;
	display: block;
}

#pics {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-gap: 20px;
	padding: 20px 10px 10px;
}

@media (max-width: 2100px) {
	#pics {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (max-width: 1800px) {
	#pics {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 1500px) {
	#pics {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1200px) {
	#pics {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 900px) {
	#pics {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	#pics {
		grid-template-columns: 1fr;
	}
}


.pic {
	width: 280px;
	height: 420px;
	border-radius: 5px;
	background-color: #fcfcfc;
	position: relative;
	place-self: center;
	box-shadow: #dddddd 5px 5px 20px;
}

.pic-container {
	position: relative;
	height: 315px;
	width: 100%;
	overflow: hidden;
}








.spinner {
	width: 40px;
	height: 40px;
	background-color: #333;

	position: absolute;
	top: 45%;
	left: 45%;
	transform: translate(-50%, -50%);
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	  } 100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
}